<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Public NuGet -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- BAPS Apps GitHub Packages -->
    <add key="baps-apps-packages" value="https://nuget.pkg.github.com/baps-apps/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- BAPS Apps GitHub Packages used for current project -->
    <packageSource key="baps-apps-packages">
      <package pattern="ApiPipeline.NET" />
      <package pattern="ApiPipeline.NET.OpenTelemetry" />
      <package pattern="Caching.NET" />
      <package pattern="CodeStyle.NET" />
      <package pattern="HttpResilience.NET" />
      <package pattern="OpenTelemetry.NET" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
